* {
    margin: 0;
    padding: 0;
}
body {
    /*background-image: linear-gradient(#004444, #003333);*/
    background-color: #0e1111;
    background-attachment: scroll;
}
.header {
    top: 0;
    left: 0;
    right: 0;
    /*write here*/
    position: fixed;
    z-index: 1;
}/*зафиксировали шапку*/

p {
    font-size: 20pt;
    color: #f9f9f9;
}
/*
.header {
    height: 50px;
    background-color: rgba(0,0,0,.9);
    border: 1px solid lightgray;
}*/

.topnav {
    overflow: hidden;
     /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.topnav ol {
    display: flex;
    justify-content: flex-end;
    background: #0e1111;
    list-style-type: none;
}
a {text-decoration: none;}

.topnav a {
    padding: 1em 2em 1em 2em;  /*top right bottom left*/
    display: block;
    color: #f9f9f9;
    background: #0e1111;
    font-size: 14pt;
}

.topnav a:hover {background: #232b2b}/*подсветка при наведении*/

.topnav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }
    .topnav.responsive  {
        list-style-type: none;

    }
}

#home {
    width: 100vw;
    height: 100vh;
}

#about {
    width: 100vw;
    height: 100vh;
    /*background-color: #3b444b;*/
}

#portfolio {
    width: 100vw;
    height: 100vh;
    /*background-color: #232b2b;*/
}

#contacts {
    width: 100vw;
    height: 100vh;
}

#oneHome {
    position: absolute;
    top: 65vh;
    left: 10vw;
    font-size: 25pt;
}
h1 {
    position: absolute;
    top: 70vh;
    font-size: 40pt;
    color: #f9f9f9;
    left: 10vw;
    width: auto;
}

h2 { top: 115vh; }

h3 { top: 215vh; }

h4 { top: 315vh; }

h2, h3, h4 {
    font-size: 40pt;
    color: #f9f9f9;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#aboutImg {
    position: absolute;
    top: 135vh;
    left: 55vw;
}

.aboutText {

    position: absolute;
    top: 140vh;
    left: 10vw;
    font-size: 30pt !important;
    line-height: 2;

}

[type = radio] {
    display: none;
}

#slider {
    height: 300px;
    position: relative;
    top: 200px;
    perspective: 700px;
    transform-style: preserve-3d;
}
#slider label{

    margin: auto;
    width: 52%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

#s1:checked ~ #slider4, #s2:checked ~ #slider5,
#s3:checked ~ #slider1, #s4:checked ~ #slider2,
#s5:checked ~ #slider3{
    transform: translate3d(-30%,0, -200px);
}

#s1:checked ~ #slider5, #s2:checked ~ #slider1,
#s3:checked ~ #slider2, #s4:checked ~ #slider3,
#s5:checked ~ #slider4{
    transform: translate3d(-15%,0, -100px);
}

#s1:checked ~ #slider1, #s2:checked ~ #slider2,
#s3:checked ~ #slider3, #s4:checked ~ #slider4,
#s5:checked ~ #slider5{
transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slider2, #s2:checked ~ #slider3,
#s3:checked ~ #slider4, #s4:checked ~ #slider5,
#s5:checked ~ #slider1{
    transform: translate3d(15%,0, -100px);
}

#s1:checked ~ #slider3, #s2:checked ~ #slider4,
#s3:checked ~ #slider5, #s4:checked ~ #slider1,
#s5:checked ~ #slider2{
    transform: translate3d(30%,0, -200px);
}

.prjctLink {

    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.contactme {

    position: absolute;
    top: 340vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 40pt !important;
    line-height: 2;
    text-align: center;

}

#git {
    position: relative;
    top: 60vh;
    left: 45vw;
    transform: translate(-50%, -50%);

}

#facebook {
    position: relative;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    height: 10vh;
}